<%- include('../includes/header.ejs') %>
        <title>ABC Pharmacy</title>
    </head>
    <body>
        <%- include("../includes/navBar.ejs") %>
        <main>
            <form action="/reset-password" method="post">
                <label for="">Email</label>
                <input type="email" name="email" autocomplete="username">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit">Reset Password</button>
            </form>
        </main>
    <%- include("../includes/footer.ejs") %>