<header>
    <nav>
        <ul>
            <li><a href="/" >Home</a></li>
            <% if (isAdmin) {%>
                <li><a href="/admin/medicine-list" >Admin Medicine List</a></li>
                <li><a href="/admin/add-medicine" >Admin Add Medicine</a></li>
            <% } else { %>
            <li><a href="/medicine-list" >Medicine List</a></li>
            <% } %>
            <% if(!isAuthenticated) {%>
                <li><a href="/signup" >Sign Up</a></li>
                <li><a href="/login" >Log In</a></li>
            <% } else { %>
                <li><a href="/cart">My Cart</a></li>
                <form action="/logout" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>"> <!-- name has to be _csrf -->
                    <button type="submit">Logout</button>
                </form>
            <% } %>
        </ul>
    </nav>
</header>