<header>
    <nav>
        <ul>
            <li><a href="/cart" >Cart</a></li>
            <!-- <li><a href="/checkout" >Check Out</a></li> -->
            <li><a href="/" >Home</a></li>
            <li><a href="/medList" >Medicine List</a></li>
            <!-- <li><a href="/orders" >Orders</a></li> -->
            <li><a href="/admin/addMed" >Add Medicine</a></li>
            <li><a href="/admin/medList">Admin Medicine List</a></li>
        </ul>
    </nav>
</header>