.company {
  color: #000000;
  opacity: 0.5;
  font-size: 14px;
  margin: 5px;
}
.number {
  color: #000000;
  margin: 5px;
}
.card-title {
  font-weight: bold;
  font-size: 24px;
}
.estimated {
  color: #000000;
  font-size: 12px;
  margin: 5px;
}
#button,
#button1,
#button2 {
  background-color: #10847e;
  font-weight: bold;
  float: right;
}
.card {
  width: 40%;
  margin-left: 400px;
  margin-right: auto;
  margin-top: 50px;
  float: left;
}
.div1 {
  margin-right: 250px;
  float: right;
}
