.company {
    color: #000000;
    opacity: 0.5;
    font-size: 14px;
    margin: 5px;
}
.number {
    color: #000000;
    margin: 5px;
}
.card-title {
    font-weight: bold;
    font-size: 24px;
}
.estimated {
    color: #000000;
    font-size: 12px;
    margin: 5px;
}
#button {
    background-color: #10847e;
    font-weight: bold;
    /* float: right;
    margin-right:50px; */
}
#button1 {
    background-color: #10847e;
    font-weight: bold;
    float: right;
}
#button2, #button3 {
    background-color: #10847e;
    font-weight: bold;
}
.card {
    width: 60%;
    margin-left: 300px;
    margin-right: auto;
    margin-top: 50px;
    float:left;
    
}
.div1{
    /* margin-right:250px; */
    /* float: right; */
    margin-top: 50px;
    margin-left: 50px;
    justify-content: center;
}

/* NAVIGATION*/
.nav-bar {
    width: 100%;
    position: fixed;
    height: auto;
    z-index: 999;
    top: 0;
    font-size: 18px;
    background-color: #10847e;
  }
  .nav-bar li:last-child {
    margin-right: 60px;
  }
  
  a {
    text-decoration: none;
    color: #ffffff;
  }
  
  nav ul {
    overflow: hidden;
    text-align: right;
    padding: 1%;
    margin-left: 0;
    /* border: dashed; */
    color: #000;
  }
  
  nav ul li {
    display: inline-block;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400; 
    padding: 10px 15px;
    letter-spacing: 1px;
    color: #ffffff;
  }
  
  .header-logo {
    float: left;
    color: #fff;
    font-family: Droid Serif Italic;
    font-size: 28px;
    font-style: italic;
    line-height: 40px;
    margin-left: 3em;
    cursor: pointer;
  }
  
  nav a:hover {
    color: #74c9f7;
  }
  
  /* END navigation */

  /* Mobile navigation */
.mobile-icon {
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    cursor: pointer;
    color: #000;
    display: none;
    font-size: 20px;
    font-family: bold;
    margin: 2% 2%;
    position: relative;
    padding-left: 1.25em;
  }
  