/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url("../fonts/poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-Bold;
  src: url("../fonts/poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: Poppins-Medium;
  src: url("../fonts/poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: Montserrat-Bold;
  src: url("../fonts/montserrat/Montserrat-Bold.ttf");
}

/*//////////////////////////////////////////////////////////////////
  [ RESTYLE TAG ]*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: Poppins-Regular, sans-serif;
  /* background-image: url("https://t3.ftcdn.net/jpg/02/36/14/08/500_F_236140849_trg9xJnwMeseqxJQDUP95jO3rhHfe3JN.jpg"); */
}

/*---------------------------------------------*/
a {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
  color: #57b846;
}

/*---------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

p {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

ul,
li {
  margin: 0px;
  list-style-type: none;
}

/*---------------------------------------------*/
input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
textarea:focus:-moz-placeholder {
  color: transparent;
}
textarea:focus::-moz-placeholder {
  color: transparent;
}
textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input::-webkit-input-placeholder {
  color: #999999;
}
input:-moz-placeholder {
  color: #999999;
}
input::-moz-placeholder {
  color: #999999;
}
input:-ms-input-placeholder {
  color: #999999;
}

textarea::-webkit-input-placeholder {
  color: #999999;
}
textarea:-moz-placeholder {
  color: #999999;
}
textarea::-moz-placeholder {
  color: #999999;
}
textarea:-ms-input-placeholder {
  color: #999999;
}

/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

/*//////////////////////////////////////////////////////////////////
  [ Utility ]*/
.txt1 {
  font-family: Poppins-Regular;
  font-size: 15px;
  line-height: 1.5;
  color: #999999;
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 16px;
  line-height: 1.5;
  color: #666666;
}

/*//////////////////////////////////////////////////////////////////
  [ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #ffffff;

  /* background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
    background: linear-gradient(-135deg, #c850c0, #4158d0); */
}

.wrap-login100 {
  width: 960px;
  background: #fff;
  /* border: 1px solid #999999; */
  border-radius: 10px;
  overflow: hidden;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 120px 130px 33px 95px;
  box-shadow: 5px 5px 5px 5px #d8d8d8;
}

/*------------------------------------------------------------------
  [  ]*/
.login100-pic {
  width: 316px;
}

.login100-pic img {
  max-width: 100%;
}

/*------------------------------------------------------------------
  [  ]*/
.login100-form {
  width: 290px;
}

.login100-form-title {
  font-family: Poppins-Bold;
  font-size: 24px;
  color: #333333;
  line-height: 1.2;
  text-align: center;

  width: 100%;
  display: block;
  padding-bottom: 54px;
}

/*---------------------------------------------*/
.wrap-input100 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
}

.input100 {
  font-family: Poppins-Medium;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;

  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 68px;
}

/*------------------------------------------------------------------
  [ Focus ]*/
.focus-input100 {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: #10847e;
}

.input100:focus + .focus-input100 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

.symbol-input100 {
  font-size: 15px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 35px;
  pointer-events: none;
  color: #666666;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100 + .symbol-input100 {
  color: #10874e;
  padding-left: 28px;
}

/*------------------------------------------------------------------
  [ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.login100-form-btn {
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;

  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #10847e;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  background: #333333;
}

/*------------------------------------------------------------------
  [ Responsive ]*/

@media (max-width: 992px) {
  .wrap-login100 {
    padding: 177px 90px 33px 85px;
  }

  .login100-pic {
    width: 35%;
  }

  .login100-form {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .wrap-login100 {
    padding: 100px 80px 33px 80px;
  }

  .login100-pic {
    display: none;
  }

  .login100-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 100px 15px 33px 15px;
  }
}

/*------------------------------------------------------------------
  [ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 13px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
  pointer-events: none;

  font-family: Poppins-Medium;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 13px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

/* NAVIGATION*/
.nav-bar {
  width: 100%;
  position: fixed;
  height: auto;
  z-index: 999;
  top: 0;
  font-size: 18px;
  background-color: #10847e;
}
.nav-bar li:last-child {
  margin-right: 60px;
}

a {
  text-decoration: none;
  color: inherit;
}

nav ul {
  overflow: hidden;
  text-align: right;
  padding: 1%;
  margin-left: 0;
  /* border: dashed; */
  color: #000;
}

nav ul li {
  display: inline-block;
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  padding: 10px 15px;
  letter-spacing: 1px;
  color: #ffffff;
}

.header-logo {
  float: left;
  color: #fff;
  font-family: Droid Serif Italic;
  font-size: 28px;
  font-style: italic;
  line-height: 40px;
  margin-left: 3em;
  cursor: pointer;
}

nav a:hover {
  color: #74c9f7;
}

/* END navigation */

/* Mobile navigation */
.mobile-icon {
  width: 100%;
  text-align: left;
  box-sizing: border-box;
  cursor: pointer;
  color: #000;
  display: none;
  font-size: 20px;
  font-family: bold;
  margin: 2% 2%;
  position: relative;
  padding-left: 1.25em;
}
.container {width:100%;}
.sow-headline h1,.sow-headline h3 {
	font-weight:300;
}
.sow-headline h1 {
	letter-spacing:1px;
	font-size:32px;
}
.sow-headline h3 {
	font-size:19px;
	line-height: 1.6;
	font-weight:300;
	letter-spacing:1px;
}
.sow-headline .decoration {
	width:50px;
	margin:24px auto 7px auto !important;
}
.sow-headline h1 {
  text-align: center;
  line-height: 1.3;
  font-size: 34px;
letter-spacing:1px;
  color: #000000;
}
.sow-headline .decoration {
  border-top: medium solid #50dcc9;
  position: relative;
  height: 1px;
  margin: 20px 60px 20px 60px;
}
#sow-headline-container.sow-headline h1 {margin-bottom:10px;}
#tline {
	padding-bottom:60px
}
.tline-item-txt {
	font-size:14px;
}

.tline-holder {
	margin:0 auto;
	padding:0;
	padding-top:20px;
	width:100%;
	position:relative;
	overflow:hidden;
	list-style:none
}
.tline-holder:before {
	background:#e4e4e4;
	content:"";
	left:50%;
	top:20px;
	bottom:0;
	position:absolute;
	width:1px;
	margin-left:-1px;
	height:9999px
}
ul .tline-holder>li {
	width:100%;
	float:left;
	display:inline-block
}
.tline-item-content {
	width:571px;
}
.tline-item-content a {color:inherit;font-weight: 700;}
.tline-item-txt {
	position:relative;
	padding:20px;
	background:#fff;
	border:1px solid #e4e4e4;
	margin-top:-20px
}
.tline-item-txt h3 {
	text-transform:uppercase;
	font-size:17px;
	margin-top:10px;
	margin-bottom:10px;
	color: #333;
}
.tline-holder li:nth-child(odd) .tline-item-txt h3 {
	text-align:left;
	margin-right:0
}
.tline-item-txt .meta {
	color:#999
}
.tline-holder li:nth-child(odd) .tline-item-content:hover .date-icon,.tline-item-right .tline-item-content:hover .date-icon {
	-webkit-animation:pulse .3s;
	animation:pulse .3s
}
.tline-holder li:nth-child(odd) {
	float:left;
	position:relative
}
.tline-holder li:nth-child(odd) .tline-item-content {
	float:left
}
.tline-holder li:nth-child(odd) .tline-item-txt {
	margin-right:60px
}
.tline-holder li:nth-child(odd) .date-icon {
	margin-right:-20px;
	float:right;
	background-color:#303543;
	color:#fff
}
.tline-holder li {
	float:right;
	position:relative;
	max-width:100%;
}
.tline-holder li:nth-child(even) .tline-item-content {
	float:right;
	text-align:right;
}
.tline-holder li:nth-child(even) .tline-item-txt {
	margin-left:60px;
	text-align:right;
}
.tline-holder li:nth-child(even) .date-icon {
	margin-left:-20px;
	float:left
}
.tline-item-txt:before,.tline-item-txt:after {
	content:" ";
	position:absolute;
	top:24px;
	display:block;
	width:0;
	height:0;
	border-top:solid 15px transparent;
	border-bottom:solid 15px transparent
}
.tline-holder li:nth-child(odd) .tline-item-txt:before,.tline-holder li:nth-child(odd) .tline-item-txt:after {
	right:-18px;
	border-left:solid 20px #fff
}
.tline-holder li:nth-child(odd) .tline-item-txt:before {
	right:-20px;
	border-left-color:#e4e4e4
}
.tline-holder li:nth-child(even) .tline-item-txt:before,.tline-holder li:nth-child(even) .tline-item-txt:after {
	left:-18px;
	border-right:solid 20px #fff
}
.tline-holder li:nth-child(even) .tline-item-txt:before {
	left:-20px;
	border-right-color:#e4e4e4
}
.tline-start {
	width:100% !Important;
	float:left;
	padding:0;
	position:absolute;
	bottom:0;
}
.tline-start-content {
	text-align:center;
}
.tline-start .tline-start-icon {
	margin:0 auto;
	margin-bottom:20px;
	width:12px;
	height:12px;
	border-radius:100%;
	-moz-border-radius:100%;
	-webkit-border-radius:100%;
	background-color:#ccc;
}
.metatags {
	margin:15px 0;
}
.metapost {
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
	padding:10px 0;
	margin-top:5px;
}
.metapost a {
	color:inherit;
}
.btn {
	padding:16px 30px;
	margin-top:15px
}
.btn-inverse {
	background-color:#111;
	border:1px solid #111;
	color:#fff
}
.wow {
  visibility:visible!important;
  -webkit-animation:none!important;
  -moz-animation:none!important;
  -o-animation:none!important;
  -ms-animation:none!important;
  animation:none!important
}
