<%- include('../includes/header.ejs') %>
        <title>ABC Pharmacy</title>
    </head>
    <body>
        <%- include("../includes/navBar.ejs") %>
        <h1>Welcome!</h1>
        <main>
            <h1>Welcome To ABC Pharmacy</h1>
        </main>
    <%- include("../includes/footer.ejs") %>